<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emrfordoc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.emrfordoc.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name = "Activity_Homepage"></activity>
        <activity android:name = "Activity_Login_recordshow4doc"></activity>
        <activity android:name = "Activity_Login_specificpatcient"></activity>
        <activity android:name= "Activity_updatebydoc"></activity>
        <activity android:name = "Activity_communication"></activity>
        <activity android:name="ActivityLogoff"></activity>
        <activity android:name = "com.example.test_bluetooth.BluetoothActivity"></activity>
        <activity android:name = "com.example.test_bluetooth.BluetoothChatService"></activity>
        <activity android:name ="com.example.test_bluetooth.DeviceListActivity"></activity>
        
    </application>

</manifest>
